{% extends 'base.html' %} {% block title %}Pet Detail{% endblock %} {% block content %} {% if pet.photo_url %}
<div class="col-sm-2 col-6">
    <img src="{{ pet.photo_url }}" class="img-fluid" />
</div>
{% endif %}

<div class="card" style="width: 18rem">
    <img src="{{ pet.photo_url }}" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">{{pet.name}}</h5>
        <p class="card-text">{{pet.notes}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Species: {{pet.species}}</li>
        <li class="list-group-item">Age: {{pet.age}}</li>
    </ul>
    <div class="card-body">
        <a href="/" class="card-link">Go Back</a>
    </div>
</div>

{% endblock %}
